*{
	margin: 0px;
	padding: 0px;
}

body{
	font-size: 150%;
	background: #7735f1;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	width: 50%;
	margin:0px auto;
	padding: 20px;
	border: 2px solid #086ff5;
	background: white;
	border-radius: 0px 0px 10px 10px;

}
