*{
	margin: 0px;
	padding: 0px;
}

body{
	background: #e978b1;
    font-size: 120%;
}

.container {
	width: 50%;
    height: 300px;
	margin:0px auto;
	padding: 20px;
	border: 2px solid #086ff5;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
h2 {
    padding: 20px;
}
a {
	color: rgb(179, 5, 92);
    padding: 15px;
}
a:link {
	text-decoration: none;
	padding: 14px 25px;
	text-align: center;
  }
a:visited {
  color:rgb(9, 13, 247);	
  text-decoration: none;
  padding: 14px 25px;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

