*{
	margin: 0px;
	padding: 0px;
}

body{
	background: #e978b1;

}

.container {
	width: 50%;
    height: 500px;
	margin:0px auto;
	padding: 20px;
	border: 2px solid #086ff5;
	background: white;
	border-radius: 0px 0px 10px 10px;

}
