
body {
    background-color: #2D2D2D;
}

h1 {
    color: red;
    font-family: Menlo, Monaco, fixed-width;
}

h2 {
    color: orange;
    font-family: Menlo, Monaco, fixed-width;
}

h3 {
    color: yellow;
    font-family: Menlo, Monaco, fixed-width;
}

h4 {
    color: green;
    font-family: Menlo, Monaco, fixed-width;
}

h5 {
    color: rgb(114, 114, 212);
    font-family: Menlo, Monaco, fixed-width;
}

h6 {
    color: violet;
    font-family: Menlo, Monaco, fixed-width;
}
